* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.jumbotron a {
    color: black;
}

.row, .radiobutton-row, .jumbotron, .col-100, .col-title, .col-30 .col-content, .inside-logo-row, .footer-row, .col-30 img, .col-65 img, .inside-logo-row .col-50 img {
    width: 100%;
}

header .row, .container-70 .row, .container-60 .row, .logo-row, .inside-logo-row, .FAQ .row, .try-row .container-60, .col-100 .col-content, .footer-row, header .row .col-50, header .row .col-50:last-child, .logo-row .col-50, .try-row .col-35 {
    display: flex;
}

.col-50 {
    background-color: white;
}

.jumbotron {
    background-color: #B4D0E7;
    margin-top: 50px;
}

.container-70 {
    width: 70%;
    margin: 0 auto;
}

.col-35 {
    width: 35%;
}

.col-65 {
    width: 65%;
}

.container-60 {
    width: 60%;
    margin: 0 auto;
}

.container-60 .row {
    justify-content: space-between;
}

.col-30, .short-hr {
    width: 30%;
}

.col-100 {
    margin-top: 50px;
}

.col-title {
    border: 1px solid black;
    padding: 10px 0px;
    text-align: center;
    border-bottom: none;
}

.col-30 .col-content {
    min-height: 820px;
}

.col-content {
    border: 1px solid black;
    font-size: small;
    line-height: 1.3;
    padding: 15px;   
}

.col-33 {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}


.inside-logo-row {
    height: 50%;
}

.main-logo {
    background-color: gray;
    height: 100%;
}

.col-90 {
    width: 100%;
}

.col-90 i {
    line-height: 5;
}

.rotate {
    transition: rotate 0.35s;
}

input:checked ~ .accordion-label  .rotate {
    rotate: 90deg;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

/* fine struttura */

header .col-50 {
    padding: 10px;
}

.col-50 span {
   padding: 15px;
}

header .row .col-50:last-child {
    justify-content: end;
}

header .row .col-50, header .row .col-50:last-child, .logo-row .col-50, .try-row .col-35 {
    align-items: center;
}

.main-logo img, .col-50 {
    width: 50%;
}

button {
    padding: 8px 10px;
}

.blue-button {
    background-color: #0061FF;
    color: white;
    border: none;
    transition: all 0.5s;
}

.blue-button:hover {
    scale: 1.12;
}

.blue-button:active {
    background-color: white;
    border: 1px solid #0061FF;
    color: #0061FF;
}

.grey-button {
    border-radius: none;
    border: 1px solid black;
    background-color: transparent;
}

.blue-hover {
    transition: all 0.5s;
}

.blue-hover:hover {
    scale: 1.12;
}

.blue-hover:active {
    background-color: #0061FF;
    color: white;
}

.center-button {
 width: 100%;
}

header {
    font-size: small;
}

h1 {
    font-size: 50px;
    padding: 40px 0px;
}

.jumbotron p, .jumbotron .deny {
    font-size: small;
    line-height: 1.5;
}

.col-35 .blue-button {
    margin: 30px 0px;
}

.deny {
    margin-bottom: 50px;
}

.col-35 span i {
    font-size: 50px;
}

.col-content i {
    float: left;
}

li {
    list-style-type: none;
    margin: 20px 0px;
}

.col-content li div {
    margin-left: 15px;
}

h2 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 80px;
}

h3 {
    font-size: large;
}

.prezzo {
    margin: 10px 0px;
    font-weight: bold;
}
.periodo {
    margin-bottom: 40px;
    font-weight: lighter;
    color: grey;
}

.radiobutton-row {
    padding: 30px 0px;
}

.main-list-item {
    font-weight: bold;
}

.blue-check {
    color: #0061FF;
}

.col-content .blue-button {
    margin-bottom: 20px;
    margin-top: 30px;
}

.short-hr {
    margin: 40px 0px;  
}

.col-100 .col-65 div {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
}

.col-100 {
    margin-bottom: 150px;
}

.col-100 .blue-button {
    margin-top: 0;
    margin-left: 65px;
    padding: 5px 20px;
}

.main-img p, .col-30 p {
    margin: 30px 0px;
    font-size: small;
}

.main-img .col-35 {
    line-height: 1.5;
    padding: 30px;
}

.col-30 {
    line-height: 1.5;
}

.last-link {
    line-height: 150px;
}

.logo-row .col-50, .try-row .col-35 {
    justify-content: center;
}

.main-logo {
    padding: 20px;
    font-size: small;
    background-color: #F5F5F5;
    background-size: cover;
}

.main-logo p {
    margin: 50px 0px;
}

.img-square {
    filter: invert(100%);
    scale: 0.5;
}

.green {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.bordeaux {
    background-color: #61082B;
}

.skyblue {
    background-color: #0093CE;
}

.red {
    background-color: #FF1C1C;
}

.heavyred {
    background-color: #D5001F;
}

.lightskyblue {
    background-color: #B4D0E7;
}

.blue {
    background-color: #0D2481;
}

.yellow {
    background-color: #FFD830;
}

.try-row h2 {
    margin-bottom: 10px;
    color: rgb(91, 1, 52);
}

.try-row button {
    border: none;
}

.FAQ .row {
    line-height: 5;
}

.FAQ .col-10 {
    text-align: center;
}

.footer-row {
    margin-top: 100px;
    padding: 30px;
    color: white;
}

footer .col-10{
    color: white;
    position: relative;
    left: 30px;
}

.lingua {
    padding: 30px 0px;
}

footer {
    background-color: black;
}

footer li {
    font-size: small;
}

footer .main-list-item {
    font-size: larger;
}

.row-container {
    background-color: #B4D0E7;
    padding: 50px 0px;
}

.jumbotron .col-65 img {
    scale: 1.2;
    position: relative;
    top: 35px;
    left: 40px;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .accordion {
    border-radius: 5px;
    overflow: hidden;
  }

  .accordion-label {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }

  .accordion-content {
    max-height: 0;
    background: white;
    transition: all 0.5s;
  }

  input:checked ~ .accordion-content {
    max-height: 100vh;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 3px 20px grey;
  }

  select {
    margin-right: 10px;
    border: none;
  }